<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic express.js template</title>
    <link rel="stylesheet" href="../public/assets/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Hello World!</h1> <br> <br>
    <h2>Now you must go your way and build an amazing app...</h2>
</body>
</html>